-var repeats = 200
!!!
html
    head
        title TopCoat navigation bar test
        |<link rel="stylesheet" type="text/css" href="../../release/css/navigation-bar.min.css">
    body
        -while (repeats > 0)
            -var repeats = repeats - 1
            div.navigation-bar
                div.navigation-bar__item.left.quarter
                    button =
                div.navigation-bar__item.center.half
                    h1.navigation-bar__title Title
                div.navigation-bar__item.right.quarter
                    button ?
