div.navigation-bar
    div.navigation-bar__item.left.quarter
        button =
    div.navigation-bar__item.center.half
        h1.navigation-bar__title Title
    div.navigation-bar__item.right.quarter
        button ?
