@import utils

navigation-bar-base()
  reset-box-model()
  reset-base()
  reset-cursor()
  padding-left var-padding--navigation-bar
  padding-right var-padding--navigation-bar

navigation-bar__item()
  reset-base()
  inline-block()
  height var-height
  line-height var-line-height
  margin var-margin

navigation-bar__title()
  ellipsis()
  margin var-margin
