@import utils

navigation-bar-base()
  reset-box-model()
  reset-base()
  reset-cursor()

navigation-bar__item()
  reset-box-model()
  inline-block()
  reset-base()

navigation-bar__title()
  reset-base()
  ellipsis()

