@import navigation-bar-mixin

.navigation-bar {
  navigation-bar-base();
}

.navigation-bar__item {
  navigation-bar__item()
}

.navigation-bar__item--left
  navigation-bar__item--left()

.navigation-bar__item--center
  navigation-bar__item--center()

.navigation-bar__item--right
  navigation-bar__item--right()

.navigation-bar__title
  navigation-bar__title()

